<form method="post" action="{{ url_for('handle_form_submit') }}">
	<input type="checkbox" class="form" name="checkbox_2"/>
		2
	</input>
	</br>
	<input type="checkbox" class="form" name="checkbox_1"/> 
		1
	</input>
	</br>
	<input type="checkbox" class="form" name="checkbox_3"/> 
		3
	</input>
	</br>
	<input type="checkbox" class="form" name="checkbox_4"/> 
		4
	</input>
	</br>
	<input type="checkbox" class="form" name="checkbox_5"/> 
		5
	</input>
	</br>
	<input type="checkbox" class="form" name="checkbox_6"/> 
		6
	</input>
	</br>
	<input type="checkbox" class="form" name="checkbox_7"/> 
		7
	</input>
	</br>
	<input type="checkbox" class="form" name="checkbox_8"/> 
		8
	</input>
	</br>
	<input type="checkbox" class="form" name="checkbox_9"/> 
		9
	</input>
	</br>
	<input type="checkbox" class="form" name="checkbox_10"/>
		10
	</input>
	</br>
	<input type="submit" />
</form>